* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}
span {
    text-shadow: 0px 0px 2px #aaaaaa;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: no-repeat center center fixed; 
    color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

main {
    padding: 1em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.time {
    text-align:center;
}

.top {
    display: flex;
    justify-content: space-between;
}